.card {
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  padding: 3px;
  margin: 2px;
  border-width: 2px;
  box-shadow: 5px;
  border: 1px solid black;
  overflow: hidden;
  background-color: #c73131;

  img {
    height: 200px;
    width: 350px;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }
}